<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @url.link %>
</p>

<p>
  <strong>Key:</strong>
  <%= @url.key %>
</p>

<p>
  <strong>Generated URL:</strong>
  <%= link_to generated_link(@url.key), generated_link(@url.key) %>
</p>

<%= link_to 'New', new_url_path(@url) %>
